<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/second.jpg" alt="firstionic">
      <ion-card-subtitle>İngiliz</ion-card-subtitle>
      <ion-card-title>Bold Pilot</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="logMeIn()">login</ion-button>
      <ion-button (click)="singMeIn()">Sign In</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
