<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      First Ionic App
    </ion-title>
    <!-- <ion-button (click)="logMeIn()">login</ion-button>
    <ion-button (click)="singMeIn()">Sign In</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="../../assets/second.jpg" alt="firstionic">
      <ion-card-subtitle>İngiliz</ion-card-subtitle>
      <ion-card-title>Bold Pilot</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bold Pilot (d. 21 Nisan 1993 - ö. 30 Nisan 2015), Özdemir Atman'ın yetiştiricisi olduğu Atman Ekürisi'ne ait İngiliz orijinli, Türk yarış atıdır. İlk yarışına Veliefendi'de, 28 Mayıs 1995 tarihinde 900 m çim pistte çıkan Bold Pilot Şartlı-1 olarak Asuvan koşusu olarak düzenlenen bu yarışı Halis Karataş idaresinde birinci olarak tamamladı.
    </ion-card-content>
  </ion-card>
</ion-content>
